BOT_NAME=Yamori

PREFIX=.
DEV=621234567890
API_URL=https://apicobalt.mgytr.top/
BLOCK_DMS=true
MEDIA_PATH=./data/media
SESSION_PATH=./data/sessions

# Environment (development/production)
NODE_ENV=production

# Multi-Language Setting ('id' for Indonesian, 'en' for English)
LANGUAGE=en

# HEADLESS DAEMON TOGGLE ('false' for VPS/PM2 production background mode, 'true' for interactive local shell CLI)
ENABLE_CLI=false

# SELF_BOT MODE ('true' to allow bot to respond to commands from its own account, 'false' to disable)
SELF_BOT=false

